<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @force.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @force.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @force.email %>
</p>

<%= link_to 'Edit', edit_force_path(@force) %> |
<%= link_to 'Back', forces_path %>
